<div class="container ageAware">
    <p><span class="label <%= label %>"><%= access %></span><%= message %></p>

    <div>
        <p>
        <a class="fb-send-dialog" href="http://documentcloud.github.com/backbone/" title="Backbone.js">Tell your friends:</a>
        this site is made with
        <a href="http://documentcloud.github.com/backbone/" title="Backbone.js">Backbone</a> !        
        </p>

        <p>
        <a class="fb-feed-dialog" href="http://documentcloud.github.com/backbone/" title="Backbone.js">Send it to your feed: </a>
        this site is made with
        <a href="http://documentcloud.github.com/backbone/" title="Backbone.js">Backbone</a> !
        </p>

    </div>
</div>
