<!doctype html public>
<!--[if lt IE 7]> <html lang="en-us" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html lang="en-us" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html lang="en-us" class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-us"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>RIA Training</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- ---------------------------------------------------------------------------

  Styles

---------------------------------------------------------------------------- -->
    <link href="{{ STATIC_URL }}css/libs/bootstrap/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}css/libs/bootstrap/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/facebook/facebook.css" rel="stylesheet">


<!-- --------------------------------------------------------------------------- 

  Scripts

---------------------------------------------------------------------------- -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script data-main="{{ STATIC_URL }}js/main" src="{{ STATIC_URL }}js/require.js"></script>

</head>
<body>


<!-- --------------------------------------------------------------------------- 

  Navigation bar

---------------------------------------------------------------------------- -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Razorfish</a>

        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/docs">Documentation</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>


<!-- --------------------------------------------------------------------------- 

  Master header

---------------------------------------------------------------------------- -->
  <div class="container" id="content">
    <header class="jumbotron subhead" id="ria-header">
      <h1>RIA Training Exercises</h1>
      <p class="lead">All-in-One presentation</p>
    </header>


<!-- --------------------------------------------------------------------------- 

  Utils

---------------------------------------------------------------------------- -->
    <section id="utils">
      <div class="page-header">
        <h1>Utilities</h1>
      </div>
      <div class="row">

<!-- -----------------------------------

  Utils: description

------------------------------------ -->
        <div class="span3 columns">
          <h3>Under the hood</h3>
          <p>Keep track of the internal state of the application.</p>
        </div>
        <div class="span9 columns">

<!-- -----------------------------------

  Utils: Activity logger

------------------------------------ -->
          <h2>Activity</h2>
          <p>Every time there is a change on the <code>authResponse</code>, the 
            <code>user</code> or the <code>permissions</code>, an activity event
            is raised, and the application state is mofified accordingly.</p>
            <p>Turning the activity log on allows you to see the changes in the 
              application state.</p>
            <!-- <button class="btn btn-primary" data-toggle="button">Log activity</button> -->

            <div class="well">

              <div class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1; width:100%">
                <div class="modal-header">
                  <h3>Activity log</h3>
                </div>
                <div class="modal-body" style="height:360px;overflow:auto">
<!--
-->
<pre>
-----------------------------------------------------
Activity origin:       authResponse
-----------------------------------------------------
Timestamp:             1331824626226
Status:                connected
Requested permissions: user_birthday
Granted permissions:   
User id:               null
User name:             null
Is connected:          undefined
Has user:              undefined
Has all permissions:   undefined
-----------------------------------------------------
</pre>
 
<pre>
-----------------------------------------------------
Activity origin:       user
-----------------------------------------------------
Timestamp:             1331824627019
Status:                connected
Requested permissions: user_birthday
Granted permissions:   
User id:               100002119090959
User name:             Arturo Pex
Is connected:          undefined
Has user:              undefined
Has all permissions:   undefined
-----------------------------------------------------
</pre> 
 
<pre>
-----------------------------------------------------
Activity origin:       permissions
-----------------------------------------------------
Timestamp:             1331824627210
Status:                connected
Requested permissions: user_birthday
Granted permissions:   installed,user_birthday
User id:               100002119090959
User name:             Arturo Pex
Is connected:          undefined
Has user:              undefined
Has all permissions:   undefined
-----------------------------------------------------
</pre> 
                </div>
                <div class="modal-footer">
                  <button href="#" class="btn btn-primary" data-toggle="button">Start</button>
                  <button href="#" class="btn" >Clear</button>
                </div>
              </div>

        </div>
      </div>
    </section>


<!-- --------------------------------------------------------------------------- 

  Facebook

---------------------------------------------------------------------------- -->

  <section id="facebook">

    <div class="page-header">
      <h1>Facebook</h1>
    </div>
    <div class="row">

<!-- -----------------------------------

  Facebook: description

------------------------------------ -->
      <div class="span3 columns">
        <h3>From the Social Plugins to the Graph API</h3>
        <p>General use of Facebook Graph API, authentication, plug ins and more.</p>
        <p>TODO: How it works.</p>
      </div>
      <div class="span9 columns">

<!-- -----------------------------------

  Send plug-in

------------------------------------ -->
        <h2>Send Plugin</h2>
        <p>This will share the plugins page:</p>
        <div class="well">
          <div class="fb-send" data-href="http://developers.facebook.com/docs/reference/plugins/send/"></div>
        </div>
        <hr>

<!-- -----------------------------------

  Authentication

------------------------------------ -->
        <h2>Authentication</h2>
        <p>Login wiht <code>user_birthday</code> permissions:</p>
        <div class="well">
          <div id="fb-login"></div>
        </div>
        <hr>

<!-- -----------------------------------

  Basic permissions

------------------------------------ -->
        <h2>Basic Permissions</h2>
        <p>Reading data aquired <code>user_birthday</code> and reacting to it:</p>
        <div class="well">
          <div id="suggested-content"></div>
        </div>
        <hr>

<!-- -----------------------------------

  Dialogs

------------------------------------ -->
        <h2>Dialogs</h2>
        <p>Two Facebook dialogs implemented:</p>
        <ul>
          <li><a href="http://developers.facebook.com/docs/reference/dialogs/feed/" 
            title="Facebook feed dialog">Feed</a></li>
          <li><a href="http://developers.facebook.com/docs/reference/dialogs/send/" 
            title="Facebook send dialog">Send</a></li>
        </ul>
        <div class="well">
          <div id="sharing-links"></div>
        </div>
        <hr>
      </div>
    </div>
  </section>


<!-- ---------------------------------------------------------------------------

  Templates

---------------------------------------------------------------------------- -->

<!-- -----------------------------------

  Age aware content

------------------------------------ -->
  <script type="text/template" id="t-suggestions">
    <div class="container ageAware">
        <p><span class="label <%= label %>"><%= access %></span><%= message %></p>
    </div>
  </script>

<!-- -----------------------------------

  All-purpose Facebook dialog link (defaults to feed dialog)

------------------------------------ -->
  <script type="text/template" id="t-fb-dialog">
    <%
      var type = type || 'fb-feed';
      var cta = cta || 'Share this in your timeline!';
      var url = url || 'http://facebook.com';
      var title = title || 'Facebook.com';
    %>
    <div class="container fb-dialog">
      <a class="<%= type %>" href="<%= url %>" title="<%= title %>"><%= cta %></a>        
    </div>
  </script>

</body>
</html>

